.h-500
{
    height: 500px;
}
.my-caption
{
    background-color: rgba(0,0,0, 0.5);
    /*position: absolute;*/
    bottom: 150px;
}

.text-justify{text-align: justify!important;}

.theme-bg{ background-color: #FF4800;}
.text-bg{ color: #FF4800;}

.nav-padding .nav-link
{
    padding:25px 18px!important;
    color: black;
    transition: .5s;
    font-weight: bolder;
}
.nav-padding .nav-link:hover
{
    background-color: #FF4800;
    color: white;
}

.dropdown:hover .dropdown-menu
{
    display:block;
}

.banner-section
{
    height: 500px;
    background-image: url("../img/card-image/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-opacity-banner
{
    opacity: 93%;
}

.banner-content
{
    margin-top: 50px;
}

/*Skills for Employment Investment Program (SEIP)*/

/*Bangladesh Association of Software and Information Services*/

/*.flex {*/
/*    width: 80%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.flex div {*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    padding: 50px 0;*/
/*    margin: 10px;*/
/*    text-align: center;*/
/*    border-radius: 5px;*/
/*    background: #19f;*/
/*    color: #fff;*/
/*    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);*/
/*}*/

.bg-section
{
    background-color: #F2F2F4;
}

.welcome-text{
    background-color: #222636;
    font-size:50px;
    font-family: georgia;
    font-style:italic;
    font-weight:bold;
    color: #ffffff;
    text-shadow: 2px 2px 8px #ff7700;
}
